.image{
        position: absolute;
      top: 19px;
      left: 80px;
}
element.style {
        margin-top: 19rem;
        margin-left: 2rem;
    }

.button {
        position: absolute;
	top: 40%;
	left: 50%;
}

